.main-content {
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
   color: #EDE7DD;
   gap: 20px;
  }
  .main-content--second {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
  }
.main-section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.story-content {
  margin-top: 20px;
  padding: 15px;
  background-color: #EDE7DD;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.avatar-title {
  font-family: "Chewy", system-ui, sans-serif;
  font-size: 32px;
  color: #EDE7DD;
  margin: 15px;
  text-align: center;
}
.story-img {
  width: 450px;
}

.main-story {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.start-game {
  display: flex;
    justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
    padding: 10px 20px;
    border: none;
}
.start-game:hover {
  background-color: #ff5733;
  cursor: pointer;
  transform: scale(1.05);
}
.avatar-subtitle {
  font-family: "Chewy", system-ui, sans-serif;
  font-size: 24px;
  background-color: #EDE7DD;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.avatar-subtitle p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #ff5733;
}
.story-content--text {
  color: black;
}

.welcome {
  font-size: 24px;
  text-align: center;
  color: #ff5733;
}
.welcome-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.welcome-image {
  width: 450px;
  border-radius: 30px;
}
.welcome-quotes li {
 font-size: 1.3rem;
 color: black;
 list-style-type: disc;
 justify-self: left;
}
.welcome-subtitle {
  font-family: "Chewy", system-ui, sans-serif;
  font-size: 1.5rem;
  color: #ff5733;
  margin-bottom: 10px;
  margin-top: 0;
}
.welcome-text {
  font-size: 1.4rem;
  margin: 0;
  color: black;
}
.welcome-note {
  font-size: 1.4rem;
  margin-top: 20px;
  color: black;
}